body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
}

header {
	background-image: url("../imgSystem/fondoMantel.jpeg");
	height: 100px;
	width: 100%;
	opacity: .9;
	margin-bottom: 10px;
}

ul {
	list-style-type: none;
}

header h1 {
	margin: 0;
	padding: 0;
	position: absolute;
	top: 20px;
	left: 30px;
	color: #A64500;
	font: 5.5em 'Tangerine', 'cursive';
}

a {
	text-decoration: none;
	color: #282828;
}

#ulNavegacionPrincipal {
	float: right;
	margin-top: 40px;
	margin-right: 30px;
}

#ulNavegacionPrincipal li {
	display: inline;
}

#ulNavegacionPrincipal li+li {
	margin-left: 35px;
}

#ulNavegacionPrincipal li a {
	color: black;
	font: 2.3em 'Tangerine', 'cursive';
}

#contenedorPrincipal {
	width: 960px;
	margin: 30 auto;
}

.container {
	width: 740px;
	margin: 0 auto;
}

.container h2 {
	margin-top: 70px;
	opacity: .6;
	text-align: center;
	font: 3em 'Tangerine', 'cursive';
}

#divFormBuscar {
	text-align: center;
	margin-top: 30px;
	padding-top: 0px;
}

#formUpdateMyRecypes label {
	display: block;
	padding-bottom: 10px;
	color: #3415B0;
}

#formUpdateMyRecypes input[type='text'],Textarea {
	width: 100%;
	float: left;
	margin-bottom: 10px;
}

#formUpdateMyRecipes input[type='submit'] {
	float: right;
}

.listaRecetasInicio li {
	list-style-image: url("../imgSystem/notebookRecetas.png");
	margin-top: 15px;
}

.listaRecetasInicio a {
	color: #93002F;
	font: 1.9em 'Tangerine', 'cursive';
}

#ulListaInicio {
	width: 650px;
	background-image: url("../imgSystem/fondoLibreta.jpeg");
}

#fondoAnillas {
	width: 700px;
	background-image: url("../imgSystem/fondoAnillas.jpeg");
}

#spanfechacreacion {
	float: right; //
	font-size: 0.9em;
	margin-top: 10px;
	font: 1.5em 'Tangerine', 'cursive';
}

.containerlistaRecetas h3 {
	color: #93002F;
	margin-top: 55px;
	font: 3.5em 'Tangerine', 'cursive';
}

.containerlistaRecetas h3 span {
	font-style: italic;
	font-size: 0.4em;
	color: #000;
	opacity: .7;
	float: right;
	padding-top: 10px;
	margin-bottom: 2px;
}

.containerlistaRecetas p {
	font-size: 1em;
	text-indent: 30px;
}

.containerlistaRecetas span.apartado,span.modificado {
	font-weight: bold;
	color: #3415B0;
	font: 1.2em 'Bad Script', cursive; //
	text-indent: 30px;
}

.modificado {
	float: right;
	color: #000;
	opacity: .7;
	padding-top: 0px;
}

.containerlistaRecetas span.textoReceta {
	font: 1em 'Bad Script', cursive;
	color: #585858;
}

span.textoReceta,span.apartado {
	display: block;
}

.lineaSeparadora {
	background: url("../imgSystem/lineaSeparadora.jpeg");
	background-repeat: no-repeat;
	background-position: center;
	padding-top: 40px;
}

#fieldsetMisRecetas a {
	float: right;
}

#tablaMisRecetas td,.tListaTodos td {
	padding: 10px 20px;
}

#tablaMisRecetas th,.tListaTodos th {
	padding-top: 5px;
	padding-bottom: 5px;
}

#tablaMisRecetas,.tListaTodos {
	border-collapse: collapse;
	width: 100%;
	margin-top: 40px;
	text-align: center;
	border-color: silver;
}

#tablaMisRecetas td,th,.tListaTodos td,th {
	border-color: silver;
}

.ajustar {
	width: 100px;
	white-space: -moz-pre-wrap;
}

#divLogin {
	position: absolute;
	top: 300px;
}

#divLogin label {
	float: left;
	display: block;
	padding-bottom: 10px;
	color: #3415B0;
}

#divLogin input[type='text'],input[type='password'] {
	width: 100%;
	margin-bottom: 10px;
}

#divLogin input[type='submit'] {
	float: right;
}

#divNuevoUsuario input[type='text'],input[type='email'] {
	width: 100%;
	margin-bottom: 10px;
}

#divNuevoUsuario input[type='submit'] {
	float: right;
}

#divNuevoUsuario label {
	display: block;
	padding-bottom: 10px;
	color: #3415B0;
}

#formNuevaReceta input[type='text'],Textarea,select,input[type='file'] {
	width: 100%;
	float: left;
}

#formNuevaReceta input[type='submit'] {
	float: right;
}

#formNuevaReceta label {
	display: block;
	padding-bottom: 10px;
	color: #3415B0;
}

#formNuevaReceta input,select {
	margin-bottom: 10px;
}

#formNuevaReceta select {
	background-color: white;
}

.helptext {
	color: #000;
	opacity: .6;
	clear: both;
}

#formUpdateMyRecypes label {
	display: block;
	padding-bottom: 10px;
	color: #3415B0;
}

#formUpdateMyRecypes input[type='text'],Textarea {
	width: 100%;
	float: left;
	margin-bottom: 10px;
}

#formUpdateMyRecipes input[type='submit'] {
	float: right;
}

.volver {
	float: right;
	margin-top: 150px;
}

.noreceta {
	font: 2em 'Tangerine', 'cursive';
}

.saludoInicial {
	font: 2em 'Tangerine', 'cursive';
}

.fsLogin {
	position: absolute;
	top: 250px;
	left: 500px;
	padding: 15px;
}

.fsLogin label {
	position: relative;
	display: block;
	margin-bottom: 10px;
	color: #3415B0;
}

.fsLogin input[type='text'],input[type='password'] {
	width: 250px;
	display: block;
}

.fsLogin input[type="submit"] {
	position: relative;
	margin-right: 0px;
}

.fsLogin legend {
	color: graytext;
}