<!DOCTYPE html>
<html lang='es'>
<head>
<title>Recetario</title>
<meta charset='utf-8'>
<base href="http://localhost/RecetarioPHP/index.php" />
<link rel="stylesheet" href="css/miestilo.css">
<link href='http://fonts.googleapis.com/css?family=Tangerine'
	rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Bad+Script'
	rel='stylesheet' type='text/css'>
<script type="text/javascript"
	src="js/jquery-validate/js/jquery-1.8.2.min.js"></script>
<script type="text/javascript"
	src="js/jquery-validate/js/jquery.validate.js"></script>
</head>

<body>
	<div class="contenedorPrincipal">
		<header>
			<h1>Rico Rico</h1>
			<nav>
				<ul id="ulNavegacionPrincipal">
					<li><a href="index.php">Home</a></li>
					<li><a href="privado.php">My recipes</a>
					<li><a href="nueva_receta.php">Cooking</a>
					<li><a href="logout.php">Logout</a></li>
				</ul>
			</nav>

		</header>
		<form id="formBuscar" action="busqueda.php"
			enctype="multipart/form-data" method="POST">
			<div id="divFormBuscar">
				<input type="search" name="receta" placeholder="Nombre de la receta"
					size="15px"> <input type="search" name="ingrediente"
					placeholder="Ingrediente" size="15px"> <input type="search"
					name="tipo" placeholder="Tipo" size="15px"> <input
					type="image" value="Buscar" src="imgSystem/lupa.png" id="bBuscar">
			</div>
		</form>

		<div class="container">{% block content %} {% endblock %}</div>
	</div>
</body>
</html>