{% extends 'base.html' %} {% block content %}
<div class="containerlistaRecetas">
	{% if dato %}
	<h3>
		{{ dato.nombre }}<span class="spanSubida"> Subida el: {{
			dato.fecha_creacion }}</span>
	</h3>
	<span class="modificado">Ultima modificacion: {{
		dato.fecha_ult_mod }}</span><br> <span class="apartado">Tipo: </span><span
		class="textoReceta">{{ dato.tipo }}</span><br> <span
		class="apartado">Tiempo aproximado de elaboracion: </span><span
		class="textoReceta">{{ dato.tiempo_aprox_elab }}</span><br> <span
		class="apartado">Ingredientes: </span><span class="textoReceta">{{
		dato.ingredientes }}</span><br> <span class="apartado">Elaboracion:
	</span><span class="textoReceta">{{ dato.elaboracion }}</span><br> <img
		src="{{dato.foto}}" class="imagenReceta" alt="Imagen de la receta"
		title="{{ dato.nombre }}" width="200" height="200"> <a
		href="index.php" class="volver"><img src="imgSystem/Volver.png"></a>
	<div class="lineaSeparadora"></div>
	{% endif %}
</div>

{% endblock %}
