{% extends 'base.html' %} {% block content %}
<h2>Puede modificar aqui algunos datos de la receta</h2>
<form id="formUpdateMyRecypes" action="editar.php"
	enctype="multipart/form-data" method="POST">
	<label for="iId">Numero de la receta:</label> <input type="text"
		value="{{datos.id}}" name="iId" readonly="readonly"> <label
		for='inputNombre'>Nombre de la receta</label> <input type="text"
		value="{{datos.nombre}}" name="inputNombre"> <label
		for='inputTipo'>tipo de receta</label> <select name="inputTipo"
		id="inputTipo">
		<option value="default">{{datos.tipo}}</option>
		<option value="entrante">Entrante</option>
		<option value="primer_plato">Primero</option>
		<option value="segundo_plato">Segundo</option>
		<option value="postre">Postre</option>
	</select> <label for='inputElaboracion'>Elaboracion</label>
	<textarea rows="6" cols=15 name="inputElaboracion">{{datos.elaboracion}}</textarea>
	<label for='inputTiempoAprox'>Tiempo aproximado de elaboracion</label>
	<input type="text" name="inputTiempoAprox"
		value="{{ datos.tiempo_aprox_elab }}"> <label
		for='inputIngredientes'>Ingredientes</label>
	<textarea rows="6" cols="15" name="inputIngredientes">{{datos.ingredientes}}</textarea>
	<input type="submit" value="Modificar">
</form>



{% endblock %}
