{% extends 'base.html' %} {% block content %}
<h1 class="saludoInicial">Hola {{ nombre }}</h1>
<h2 class="h1Central">{{ header }}</h2>
<div id="fondoAnillas">!</div>
<ul id="ulListaInicio">

	{% for r in datos %}
	<div class="listaRecetasInicio">
		<li><a href="detalle/{{ r.id }}">{{ r.nombre }}</a><span
			id="spanfechacreacion">({{r.fecha_creacion}})</span></li>
	</div>
	{% endfor %}
</ul>
{% endblock %}
