{% extends "base.html" %} {% block content %}
<table border="1" class="tListaTodos">
	<th>Receta</th>
	<th>Tipo</th>
	<th>Tiempo aprox. elaboracion</th>
	<th>Fecha de creacion</th>
	<th>Ultima modificacion</th> {%if datos %} {% for c in datos %}
	<tr>
		<td><a href="detalle.php?id={{ c[0] }}">{{ c[2] }}</a></td>
		<td>{{ c[3] }}</td>
		<td>{{ c[5] }}</td>
		<td>{{ c[6] }}</td>
		<td>{{ c[7] }}</td>
	</tr>
	{% endfor %} {% endif %}
</table>

{% endblock %}
