{% extends 'base.html' %} {% block content %}
<fieldset class="fsLogin">
	<legend>Login</legend>
	<form action="login.php" method="post">
		<label for="nombreLogin">Nombre de usuario: </label> <input
			type="text" name="nombreLogin" required> <label
			for="passwordLogin">Contraseņa: </label> <input type="password"
			name="passwordLogin" required> <input type="submit"
			value="Enviar" />
	</form>
</fieldset>
{% endblock %}
