{% extends 'base.html' %} {% block content %}

<h2>Mis recetas</h2>

<fieldset id="fieldsetMisRecetas">
	<legend>Bienvenid@: {{ nombre }}</legend>
	<label class="noreceta">{{ no_recetas }}</label> <a
		href="nueva_receta.php" class="linkAņadirReceta">Aņadir receta</a>
</fieldset>


<table id="tablaMisRecetas" border="1">
	<thead>
		<th>Nombre</th>
		<th>Creada el</th>
		<th>Ultima modificacion</th>
		<th style="padding: 5px">Modificar</th>
		<th style="padding-left: 5px">Borrar</th>
	</thead>
	{% for r in recetas %}
	<tr>
		<td class="ajustar"><a href="detalle.php?id={{ r.id }}">{{r.nombre}}</a></td>
		<td>{{ r.fecha_creacion }}</td>
		<td>{{ r.fecha_ult_mod }}</td>
		<td><a href="editar/{{r.id}}"><img src="imgSystem/Edit.png"></a></td>
		<td><a href="privado.php?id={{r.id}}"><img
				src="imgSystem/Trash.png"></a></td>
	</tr>
	{% endfor %}
</table>

{% endblock %}
