{% extends 'base.html' %} {% block content %}
<h2>Nueva receta</h2>
<form id="formNuevaReceta" method="POST" enctype="multipart/form-data"
	action='nueva_receta.php'>
	<label for="iNombreReceta">Nombre de la receta</label> <input
		type="text" name="iNombreReceta" required> <select
		name="sTipoReceta">
		<option value="--">Tipo receta</option>
		<option value="Entrante">Entrante</option>
		<option value="Primer plato">Primero</option>
		<option value="Segundo plato">Segundo</option>
		<option value="Postre">Postre</option>
	</select> <label for="taElaboracionReceta">Elaboracion</label>
	<textarea cols="50" rows="5" name="taElaboracionReceta" required></textarea>

	<label for="iTiempoElaboracion">Tiempo de elaboracion</label> <input
		type="text" name="iTiempoElaboracion" required> <label
		for="taIngredientes">Ingredientes</label>
	<textarea cols="50" rows="5" name="taIngredientes" required></textarea>

	<label for="fImagen">Foto</label> <input type="file" name="fImagen"
		required> <input type="submit" value="Submit">
</form>
{% endblock %}
